<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
</head>
<body>
{% extends "cp_index.html" %}
{% block body %}
<table id="example" class="display nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>app</th>
                <th>function</th>
                <th>time</th>
                <th>total</th>
                <th>attribute</th>
                <th>rate%</th>
                <th>uri</th> 
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            {% import json %}
            {% set var1=json.loads(item.statistics) %}
            {% if len(var1)==1 %}
            {% for itemkey in var1[0].keys() %}
            {% if itemkey != "total_items" %}
            <tr>
                <td><a href="/envs/{{ tag }}/cpStatistics/{{ item.app }}">{{ item.app }}</a></td>
                <td><a href="/envs/{{ tag }}/cpStatistics/{{ item.app }}/{{ item.function }}">{{ item.function }}</a></td>
                <td>{{ item.time }}</td>
                <td>{{ item.total_items }}</td>
                <td>{{ itemkey }}</td>
                <td>{{ round(var1[0][itemkey]/float(var1[0]["total_items"])*100.0,2) }}</td>
                <td>{{ item.uri }}</td>
            </tr>
            {% end %}
            {% end %}
            {% else %}
            <tr>
                <td><a href="/envs/{{ tag }}/cpStatistics/{{ item.app }}">{{ item.app }}</a></td>
                <td><a href="/envs/{{ tag }}/cpStatistics/{{ item.app }}/{{ item.function }}">{{ item.function }}</a></td>
                <td>{{ item.time }}</td>
                <td>{{ item.total_items }}</td>
                <td></td>
                <td>0.0</td>
                <td>{{ item.uri }}</td>
            </tr>
            {% end %}
            {% end %}
         </tbody>
</table>
<script>
$(document).ready(function() {
    $('#example').DataTable( {
        "lengthMenu": [[-1,100,50,10], ["All",100,50,10]],
        "columnDefs": [
            { "visible": false, "targets": 6 },
            { targets: [0], orderData:[0,1] },
            { "orderSequence": [ "desc" ], "targets": [ 5 ] }
        ],
        "order":[[ 0, "asc" ],[ 5, "desc"]],
        "displayLength": -1,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(6, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        },
       "createdRow": function ( row, data, index ) {
  
            if ( parseFloat(data[5]) > 0) {
                $('td', row).eq(5).addClass('highlight');
            }
        }
    } );
} );
</script>
{% end %}
</body>
</html>
